<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTA.Automation.CRM.ThirdParty.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RTA.Automation.CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RTA.Automation.CRM.ThirdParty.Settings1>
            <setting name="ENVIRONMENT" serializeAs="String">
                <value>SME</value>
            </setting>
        </RTA.Automation.CRM.ThirdParty.Settings1>
        <RTA.Automation.CRM.Properties.Settings>
            <setting name="IMPLICIT_WAIT_SECONDS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SHORT_WAIT_SECONDS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LONG_WAIT_SECONDS" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BROWSER" serializeAs="String">
                <value>Ie</value>
            </setting>
            <setting name="ENVIRONMENT" serializeAs="String">
                <value>SME</value>
            </setting>
        </RTA.Automation.CRM.Properties.Settings>
    </applicationSettings>
</configuration>